:host {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-header {
  background: blue;
  height: 100px;
  ;
}

.content-container {
  flex: 1;
  height: 100%;
  background: green;
}

app-footer {
  background: red;
  height: 80px;
}
